# üß© Reto 1 ‚Äì Temperatura
**Objetivo:** clasificar la temperatura del agua y evaluar posible estr√©s t√©rmico.

**Datos:** `../data/muestras_calidad_agua.csv`

### Pasos
1. Carga el CSV en `df`.
2. Extrae `sitio` y `temperatura` en `df_temp`.
3. Crea `categoria_temp` con np.where o .loc.
4. Crea `riesgo_termico`.
5. Filtra a `df_caliente` (alta temperatura).
6. Exporta `resultado_temperatura.csv`.

> **Reto adicional:** porcentaje de sitios con riesgo t√©rmico.

In [ ]:
# Paso 1: Cargar el archivo CSV en un DataFrame llamado df

# Importamos la librer√≠a pandas (para manejar datos en tablas)
import pandas as pd

# Cargar el archivo CSV (ajusta la ruta si tu archivo est√° en otra carpeta)
df = pd.read_csv("../data/muestras_calidad_agua.csv")

# Mostrar las primeras filas del DataFrame para verificar que se carg√≥ correctamente
df.head(10)

                           sitio   pH  oxigeno  temperatura
0                 R√≠o Subachoque  7.2      7.8         18.5
1    Quebrada Honda (Facatativ√°)  6.3      6.2         19.4
2           R√≠o Botello (Madrid)  6.8      5.9         22.7
3   Afluente San Jos√© (El Rosal)  7.9      8.3         20.1
4                    R√≠o Villeta  8.7      6.1         28.3
5  Quebrada Cune (San Francisco)  6.0      4.5         25.2
6            R√≠o Tobia (Nocaima)  7.4      5.2         26.9
7       Quebrada Negra (La Vega)  7.6      7.0         24.4
8          R√≠o Baham√≥n (Sasaima)  8.1      6.7         27.6
9        R√≠o Guayuriba (La Mesa)  5.9      4.8         30.5

In [3]:
# Paso 2: Extraer las columnas "sitio" y "temperatura" en un nuevo DataFrame

# Crear un nuevo DataFrame con solo las columnas necesarias
df_temp = df[["sitio", "temperatura"]]

# Mostrar las primeras filas para verificar que est√© correcto
df_temp.head(10)

                           sitio  temperatura
0                 R√≠o Subachoque         18.5
1    Quebrada Honda (Facatativ√°)         19.4
2           R√≠o Botello (Madrid)         22.7
3   Afluente San Jos√© (El Rosal)         20.1
4                    R√≠o Villeta         28.3
5  Quebrada Cune (San Francisco)         25.2
6            R√≠o Tobia (Nocaima)         26.9
7       Quebrada Negra (La Vega)         24.4
8          R√≠o Baham√≥n (Sasaima)         27.6
9        R√≠o Guayuriba (La Mesa)         30.5

In [4]:
# Paso 3: Crear una nueva columna llamada "categoria_temp" seg√∫n el valor de la temperatura

import numpy as np  # Librer√≠a para operaciones num√©ricas

# Crear la nueva columna usando np.where
df_temp["categoria_temp"] = np.where(
    df_temp["temperatura"] < 20, "Baja",
    np.where(df_temp["temperatura"] <= 25, "Media", "Alta")
)

# Mostrar el resultado
df_temp.head(10)

C:\Users\angie acu√±a\AppData\Local\Temp\ipykernel_7772\3246003977.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp["categoria_temp"] = np.where(

                           sitio  temperatura categoria_temp
0                 R√≠o Subachoque         18.5           Baja
1    Quebrada Honda (Facatativ√°)         19.4           Baja
2           R√≠o Botello (Madrid)         22.7          Media
3   Afluente San Jos√© (El Rosal)         20.1          Media
4                    R√≠o Villeta         28.3           Alta
5  Quebrada Cune (San Francisco)         25.2           Alta
6            R√≠o Tobia (Nocaima)         26.9           Alta
7       Quebrada Negra (La Vega)         24.4          Media
8          R√≠o Baham√≥n (Sasaima)         27.6           Alta
9        R√≠o Guayuriba (La Mesa)         30.5           Alta

In [5]:
# Paso 4: Crear una nueva columna llamada "riesgo_termico"
# Indicar√° si hay riesgo (S√≠) o no (No) seg√∫n la categor√≠a de temperatura

df_temp["riesgo_termico"] = np.where(df_temp["categoria_temp"] == "Alta", "S√≠", "No")

# Mostrar las primeras filas para verificar el resultado
df_temp.head(10)

                           sitio  temperatura categoria_temp riesgo_termico
0                 R√≠o Subachoque         18.5           Baja             No
1    Quebrada Honda (Facatativ√°)         19.4           Baja             No
2           R√≠o Botello (Madrid)         22.7          Media             No
3   Afluente San Jos√© (El Rosal)         20.1          Media             No
4                    R√≠o Villeta         28.3           Alta             S√≠
5  Quebrada Cune (San Francisco)         25.2           Alta             S√≠
6            R√≠o Tobia (Nocaima)         26.9           Alta             S√≠
7       Quebrada Negra (La Vega)         24.4          Media             No
8          R√≠o Baham√≥n (Sasaima)         27.6           Alta             S√≠
9        R√≠o Guayuriba (La Mesa)         30.5           Alta             S√≠

In [6]:
# paso 5 crea un nuevo dataframe con los sitios cuya temperatura es alta 
#Filtrar solo las filas donde la categor√≠a de temperatura es "Alta"
df_caliente = df_temp[df_temp["categoria_temp"] == "Alta"]
# Mostrar las primeras filas del nuevo DataFrame
(df_caliente.head(10))

                           sitio  temperatura categoria_temp riesgo_termico
4                    R√≠o Villeta         28.3           Alta             S√≠
5  Quebrada Cune (San Francisco)         25.2           Alta             S√≠
6            R√≠o Tobia (Nocaima)         26.9           Alta             S√≠
8          R√≠o Baham√≥n (Sasaima)         27.6           Alta             S√≠
9        R√≠o Guayuriba (La Mesa)         30.5           Alta             S√≠

In [8]:
# Paso 6: Guardar el DataFrame con los sitios calientes en un nuevo archivo CSV

# Guardar el archivo sin incluir el √≠ndice (index=False)
df_caliente.to_csv("../data/sitios_calientes.csv", index=False)

# Mensaje de confirmaci√≥n
print("Archivo 'sitios_calientes.csv' creado exitosamente.")

Archivo 'sitios_calientes.csv' creado exitosamente.